# Retail Store Database Evaluation & Optimization

## Project Overview

This project is based on my database and SQL internship, where I focused on evaluating and optimizing a music store database. The primary objectives were to refine the database structure, improve query performance, and ensure data integrity. The database encompasses essential components of a music retail system, including customer details, inventory information, and transaction records. Throughout the project, I applied theoretical concepts of database management to a real-world setting, working extensively with MySQL and PostgreSQL environments.

## Motivation and Objectives

The primary motivation behind this project was to align the database with modern industry standards, ensuring that the music store operates efficiently. This involved a comprehensive review of the database schema, including an assessment of the data types, relationships, and constraints between entities. The goal was to improve query performance through optimization techniques such as indexing, and enhance data quality and security for future scalability.

During the internship, I developed critical skills in query optimization, indexing strategies, data quality analysis, and security measures. Each of these areas contributed to my understanding of database management and optimization in a business context.

## Methodology

* **Database Schema Review:**

  * I started by analyzing the architecture of the tables and their relationships. This involved checking for the appropriate use of primary and foreign keys to ensure data integrity.
  
  * The relationships between different entities, such as customers, invoices, tracks, and artists, were verified and evaluated for performance improvements.
  
* **Data Type and Constraint Assessment:**

  * A detailed review of the data types for each column was conducted to ensure that the database design was optimized for storage and retrieval efficiency.
  
  * Constraints such as primary keys and foreign keys were reviewed to ensure that data remained reliable and accurate across the database.

* **Query Optimization:**

  * I examined the existing SQL queries and identified areas where query performance could be improved.
  
  * Techniques such as indexing and query rewriting were applied to optimize the execution plans, leading to faster and more efficient queries.
  
* **Documentation and Best Practices:**

  * As part of the project, I also documented the schema and the query optimizations I performed. This documentation serves as a reference for future developers and database administrators.

## Tools and Technologies

* PostgreSQL: The primary DBMS used to evaluate and optimize the music store database

* MySQL: Explored for educational purposes, to understand the differences in syntax and features between MySQL and PostgreSQL.

* pgAdmin4: Utilized to monitor query performance, manage the database, and conduct detailed optimizations.

* DuckDB: Chosen for the analysis and querying of CSV files uploaded in this Jupyter notebook.

In [32]:
import sys
import os

# Redirect stderr to null
stderr_fileno = sys.stderr
sys.stderr = open(os.devnull, 'w')

## Implementing Queries for Data Evaluation & Optimization

Installed `duckDB` to enable high-performance SQL processing.

In [33]:
%pip install duckdb

Requirement already satisfied: duckdb in c:\users\saswa\documents\github\cuo-on-site-internship--music-store-database-evaluation-and-optimization\venv\lib\site-packages (1.3.0)
Note: you may need to restart the kernel to use updated packages.

DuckDB is an in-process OLAP (Online Analytical Processing) database optimized for analytical queries. Its integration with pandas DataFrames allows for efficient execution of complex SQL queries within this Jupyter notebook.

In [34]:
sys.stderr.close()
sys.stderr = stderr_fileno

Imported the necessary libraries for data manipulation and SQL processing.

In [5]:
import pandas as pd
import duckdb

I am using `pandas` for handling and manipulating structured data in the form of DataFrames, and duckdb to run SQL queries efficiently on these DataFrames, combining the power of SQL with the flexibility of Python.

Established a connection to DuckDB for running SQL queries.

In [6]:
duckdb_conn = duckdb.connect()

I created a connection to DuckDB to execute SQL queries within the notebook. This connection will allow me to query the datasets loaded into memory using SQL syntax, leveraging DuckDBâ€™s performance for efficient data analysis.

Loaded the music store dataset from CSV files into pandas DataFrames.

In [7]:
album_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\album.csv')
artist_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\artist.csv')
customer_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\customer.csv')
employee_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\employee.csv')
genre_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\genre.csv')
invoice_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\invoice.csv')
invoice_line_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\invoice_line.csv')
media_type_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\media_type.csv')
playlist_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\playlist.csv')
playlist_track_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\playlist_track.csv')
track_df = pd.read_csv(r'C:\Users\saswa\Documents\GitHub\CUO-On-Site-Internship--Music-Store-Database-Evaluation-and-Optimization\Data\music_store_database\track.csv')

I loaded each table from the music store database as separate CSV files into pandas DataFrames. This allows me to easily manipulate, analyze, and query the data using SQL queries with duckdb. Each DataFrame corresponds to a specific entity in the database, such as albums, artists, customers, invoices, and tracks.

Grouped the DataFrames into a dictionary for streamlined future operations.

In [8]:
dataframes = {
    "albums": album_df,
    "artists": artist_df,
    "customers": customer_df,
    "employees": employee_df,
    "genres": genre_df,
    "invoices": invoice_df,
    "invoice_lines": invoice_line_df,
    "media_types": media_type_df,
    "playlists": playlist_df,
    "playlist_tracks": playlist_track_df,
    "tracks": track_df,
}

As an optional step, I organized all the DataFrames into a Python dictionary. This structure makes it easier to iterate over the DataFrames if I need to apply repetitive tasks or transformations in the future. Each key in the dictionary corresponds to a table from the music store database, and the values are the associated DataFrames.

As an optional step, I organized all the DataFrames into a Python dictionary. This structure makes it easier to iterate over the DataFrames if I need to apply repetitive tasks or transformations in the future. Each key in the dictionary corresponds to a table from the music store database, and the values are the associated DataFrames.

As an optional step, I organized all the DataFrames into a Python dictionary. This structure makes it easier to iterate over the DataFrames if I need to apply repetitive tasks or transformations in the future. Each key in the dictionary corresponds to a table from the music store database, and the values are the associated DataFrames.

Registered the DataFrames with DuckDB for SQL querying.

In [9]:
duckdb_conn.register('album', album_df)
duckdb_conn.register('artist', artist_df)
duckdb_conn.register('customer', customer_df)
duckdb_conn.register('employee', employee_df)
duckdb_conn.register('genre', genre_df)
duckdb_conn.register('invoice', invoice_df)
duckdb_conn.register('invoice_line', invoice_line_df)
duckdb_conn.register('media_type', media_type_df)
duckdb_conn.register('playlist', playlist_df)
duckdb_conn.register('playlist_track', playlist_track_df)
duckdb_conn.register('track', track_df)

I registered each pandas DataFrame with DuckDB, making them accessible for SQL queries within the DuckDB environment. This allows me to use SQL syntax to query and analyze the data stored in these DataFrames efficiently, as if they were SQL tables. Each DataFrame is given an alias (e.g., `album`, `artist`), which will be used in subsequent SQL queries.

**Question Set 1**

1. Who is the senior most employee based on job title?

**Solution 1:**

In [10]:
result = duckdb_conn.execute("""
    SELECT 
        employee_id, 
        first_name, 
        last_name 
    FROM 
        employee 
    ORDER BY 
        levels DESC 
    LIMIT 1
""").df()

print(result)

   employee_id first_name last_name
0            9      Mohan     Madan

**Intuition for Solution 1:**

* Identified the Senior-Most Employee: To determine the senior-most employee, I used the `levels` column, which reflects the job level of each employee. Higher levels indicate more senior positions.

* Sorting: By sorting the `levels` column in descending order (`DESC`), the employee with the highest job level appeared first in the result set.

* Limiting the Results: The `LIMIT 1` ensured that only one record (the topmost, senior-most employee) was returned.

---

**Explanation for Solution 1:**

* ORDER BY levels DESC: This sorted the employees based on their job level in descending order, meaning the employee with the highest level (i.e., most senior) appeared first.

* LIMIT 1: This restricted the result to the top-most record after sorting, so only the senior-most employee was returned.

* The query selected and returned the `employee_id`, `first_name`, and `last_name` of the most senior employee.

**Solution 2:**

In [11]:
result = duckdb_conn.execute("""
    SELECT 
        employee_id, 
        first_name 
    FROM 
        employee 
    WHERE 
        employee_id = '9'
""").df()

print(result)

   employee_id first_name
0            9      Mohan

**Intuition for Solution 2:**

* Direct Employee Lookup: This query looked up the employee information directly by using their `employee_id`. The value `'9'` was assumed to be the specific employee ID in question.

* Efficient Query: The query used a direct search by `employee_id`, which was usually the primary key, ensuring that the result was retrieved quickly.

---

**Explanation for Solution 2:**

* WHERE employee_id = '9': This clause filtered the result to the employee whose `employee_id` was `'9'`. Since `employee_id` is typically a primary key, this operation was very efficient.

* The query returned the `employee_id` and `first_name` of the employee with the specified `employee_id`.

2. Which countries have the most Invoices?

In [12]:
result = duckdb_conn.execute("""
    SELECT 
        billing_country AS Country, 
        COUNT(invoice_id) AS Invoice_count 
    FROM 
        invoice 
    GROUP BY 
        Country 
    ORDER BY 
        Invoice_count DESC 
    LIMIT 4
""").df()

print(result)

  Country  Invoice_count
0     USA            131
1  Canada             76
2  Brazil             61
3  France             50

**Intuition:**

* Grouped by Country: Since the query required me to find out which countries had the most invoices, I grouped the invoices by the `billing_country`.

* Counted Invoices: By counting the `invoice_id` for each country, I determined how many invoices were generated per country.

* Sorted by Invoice Count: To get the countries with the most invoices, I ordered the result set by `Invoice_count` in descending order.

* Limited the Result: The query returned only the top 4 countries with the highest number of invoices using `LIMIT 4`.

---

**Explanation:**

* COUNT(invoice_id): This counted the number of invoices for each country. I used the `invoice_id` column to tally the number of invoices.

* GROUP BY billing_country: This grouped the results by country, so the count was aggregated for each distinct `billing_country`.

* ORDER BY Invoice_count DESC: The result set was sorted in descending order, meaning countries with the most invoices appeared first.

* LIMIT 4: This restricted the output to the top 4 countries with the highest number of invoices.

3. What are top 3 values of total invoice?

**Solution 1-For top 3 values:**

In [13]:
result = duckdb_conn.execute("""
    SELECT 
        total 
    FROM 
        invoice 
    ORDER BY 
        total DESC 
    LIMIT 3
""").df()

print(result)

   total
0  23.76
1  19.80
2  19.80

**Intuition:**

* Retrieved Total Invoice Amounts: The goal was to return the total invoice amounts in descending order.

* Sorted by Total: Sorting by the `total` column in descending order ensured the highest totals appeared at the top.

* Limited to 3 Rows: I limited the result to only 3 rows to get the top 3 total amounts, even if some values were repeated.

---

**Explanation:**

* ORDER BY total DESC: Sorting by the `total` in descending order ensured that the highest invoice values were prioritized.

* LIMIT 3: This limited the result set to the top 3 rows, giving me the highest 3 total values, regardless of whether they were distinct.

**Solution 2-For distinct top 3 values:**

In [14]:
result = duckdb_conn.execute("""
    SELECT 
        DISTINCT total 
    FROM 
        invoice 
    ORDER BY 
        total DESC 
    LIMIT 3
""").df()

print(result)

   total
0  23.76
1  19.80
2  18.81

**Intuition:**

* Removed Duplicates: To ensure that only unique total values were returned, I used the `DISTINCT` keyword.

* Sorted by Total: Sorting the unique totals in descending order ensured the highest distinct totals were shown first.

* Limited to 3 Rows: I limited the result to 3 rows, ensuring that only the top 3 distinct invoice totals were returned.

---

**Explanation:**

* DISTINCT total: This ensured that only unique total invoice values were included in the result, filtering out any duplicate totals.

* ORDER BY total DESC: Sorting by the `total` in descending order ensured that the highest unique totals were prioritized.

* LIMIT 3: This limited the result set to the top 3 distinct total values, giving me the highest 3 unique invoice totals.

4. Which city has the best customers? We would like to throw a promotional Music Festival in the city we made the most money. Write a query that returns one city that has the highest sum of invoice totals. Return both the city name & sum of all invoice totals.

In [15]:
result = duckdb_conn.execute("""
    SELECT 
        Billing_City AS City, 
        SUM(total) 
    FROM 
        invoice 
    GROUP BY 
        City 
    ORDER BY 
        City DESC 
    LIMIT 1
""").df()

print(result)

          City  sum(total)
0  Yellowknife       75.24

**Intuition:**

* Grouped by City: I needed to sum up the total invoice amounts for each city, so I grouped the data by `billing_city`.

* Calculated Total Revenue: The sum of all invoice totals for each city was calculated using `SUM(total)`.

* Sorted by Revenue: Sorting by the total revenue in descending order ensured the city with the highest total revenue appeared first.

* Returned the Top Result: I limited the result to one row to return the city with the highest total invoice sum.

---

**Explanation:**

* SUM(total): This aggregated the invoice totals for each city, giving me the total revenue for each billing city.

* GROUP BY billing_city: Grouping by `billing_city` ensured that I calculated the total invoice amount separately for each city.

* ORDER BY Total_Revenue DESC: Sorting the total revenue in descending order ensured the city with the highest total invoice amount came first.

* LIMIT 1: I used `LIMIT 1` to return only the city with the highest total invoice sum, as I was only interested in the top city.

5. Who is the best customer? The customer who has spent the most money will be declared the best customer. Write a query that returns the person who has spent the most money.

**Solution 1:**

In [16]:
result = duckdb_conn.execute("""
    SELECT 
        c.first_name AS first_name, 
        c.last_name AS last_name, 
        SUM(i.total) AS total 
    FROM 
        invoice AS i 
    JOIN 
        customer AS c ON i.customer_id = c.customer_id 
    GROUP BY 
        c.customer_id, c.first_name, c.last_name 
    ORDER BY 
        total DESC 
    LIMIT 1
""").df()

print(result)

  first_name    last_name   total
0  FrantiÅ¡ek  WichterlovÃ¡  144.54

**Intuition:**

* Identified Customer Spending: I needed to sum the total money spent by each customer, which was stored in the invoice table.

* Joined Invoice and Customer Tables: By joining the invoice table with the customer table, I could map the total invoice amounts to the respective customers.

* Grouped by Customer: I aggregated the total invoice amounts per customer using `GROUP BY` on `customer_id`.

* Sorted by Total in Descending Order: Sorting the results by total spending in descending order helped me find the customer who had spent the most.

* Returned the Best Customer: By using `LIMIT 1`, I returned the customer with the highest total spending.

---

**Explanation:**

* SUM(i.total): Calculated the total spending for each customer by summing up all the invoice totals associated with their `customer_id`.

* JOIN customer and invoice: I joined the invoice table with the customer table to associate invoice totals with customer details.

* GROUP BY c.customer_id: Grouped the sum of invoice totals by each customer to get the total spending per customer.

* ORDER BY total DESC: Sorted the customers by their total spending in descending order, so the highest spender appeared first.

* LIMIT 1: Ensured that only the top customer was returned.

**Solution 2:**

```sql
SELECT
c.first_name AS first_name, c.last_name AS last_name, ROUND(CAST(SUM(i.total) AS NUMERIC), 2) AS total
FROM
invoice AS i
JOIN
customer AS c ON i.customer_id = c.customer_id
GROUP BY
c.customer_id
ORDER BY
total DESC
LIMIT 1
```

For another solution to this question, I used the `ROUND` function with `SUM` to round the total spending to two decimal places, ensuring a cleaner display of the monetary value. All other aspects of the query, including the JOIN, GROUP BY, and ORDER BY clauses, remained consistent with Solution 1.

Question Set 2

1. Write query to return the email, first name, last name, & Genre of all Rock Music listeners. Return your list ordered alphabetically by email starting with A.

**Solution 1:**

In [17]:
result = duckdb_conn.execute("""
    WITH CTE AS (
        SELECT c.email, c.first_name, c.last_name, g.name as genre
        FROM customer AS c 
        JOIN invoice AS i ON c.customer_id = i.customer_id 
        JOIN invoice_line AS il ON i.invoice_id = il.invoice_id 
        JOIN track AS t ON t.track_id = il.track_id 
        JOIN genre AS g ON t.genre_id = g.genre_id
    )

    SELECT 
        DISTINCT email AS Email,
        first_name AS First_name,
        last_name AS Last_name,
        genre
    FROM 
        CTE 
    WHERE 
        genre = 'Rock'
    ORDER BY 
        Email;
""").df()

print(result)

                            Email First_name     Last_name genre
0          aaronmitchell@yahoo.ca      Aaron      Mitchell  Rock
1                alero@uol.com.br  Alexandre         Rocha  Rock
2          astrid.gruber@apple.at     Astrid        Gruber  Rock
3           bjorn.hansen@yahoo.no      BjÃ¸rn        Hansen  Rock
4        camille.bernard@yahoo.fr    Camille       Bernard  Rock
5           daan_peeters@apple.be       Daan       Peeters  Rock
6        diego.gutierrez@yahoo.ar      Diego     GutiÃ©rrez  Rock
7             dmiller@comcast.com        Dan        Miller  Rock
8     dominiquelefebvre@gmail.com  Dominique      Lefebvre  Rock
9             edfrancis@yachoo.ca     Edward       Francis  Rock
10       eduardo@woodstock.com.br    Eduardo       Martins  Rock
11         ellie.sullivan@shaw.ca      Ellie      Sullivan  Rock
12         emma_jones@hotmail.com       Emma         Jones  Rock
13         enrique_munoz@yahoo.es    Enrique         MuÃ±oz  Rock
14       fernadaramos4@uol.com.br   Fernanda         Ramos  Rock
15             fharris@google.com      Frank        Harris  Rock
16             fralston@gmail.com      Frank       Ralston  Rock
17       frantisekw@jetbrains.com  FrantiÅ¡ek   WichterlovÃ¡  Rock
18            ftremblay@gmail.com   FranÃ§ois      Tremblay  Rock
19           fzimmermann@yahoo.de       Fynn    Zimmermann  Rock
20      hannah.schneider@yahoo.de     Hannah     Schneider  Rock
21                hholy@gmail.com     Helena          HolÃ½  Rock
22             hleacock@gmail.com    Heather       Leacock  Rock
23           hughoreilly@apple.ie       Hugh      O'Reilly  Rock
24      isabelle_mercier@apple.fr   Isabelle       Mercier  Rock
25        jacksmith@microsoft.com       Jack         Smith  Rock
26            jenniferp@rogers.ca   Jennifer      Peterson  Rock
27            jfernandes@yahoo.pt       JoÃ£o     Fernandes  Rock
28      joakim.johansson@yahoo.se     Joakim     Johansson  Rock
29        johavanderberg@yahoo.nl   Johannes  Van der Berg  Rock
30         johngordon22@yahoo.com       John        Gordon  Rock
31            jubarnett@gmail.com      Julia       Barnett  Rock
32            kachase@hotmail.com      Kathy         Chase  Rock
33          kara.nielsen@jubii.dk       Kara       Nielsen  Rock
34       ladislav_kovacs@apple.hu   Ladislav        KovÃ¡cs  Rock
35          leonekohler@surfeu.de     Leonie        KÃ¶hler  Rock
36         lucas.mancini@yahoo.it      Lucas       Mancini  Rock
37           luisg@embraer.com.br       LuÃ­s     GonÃ§alves  Rock
38             luisrojas@yahoo.cl       Luis         Rojas  Rock
39        manoj.pareek@rediff.com      Manoj        Pareek  Rock
40        marc.dubois@hotmail.com       Marc        Dubois  Rock
41           mark.taylor@yahoo.au       Mark        Taylor  Rock
42           marthasilk@gmail.com     Martha          Silk  Rock
43              masampaio@sapo.pt   Madalena       Sampaio  Rock
44              michelleb@aol.com   Michelle        Brooks  Rock
45             mphilips12@shaw.ca       Mark       Philips  Rock
46            nschroder@surfeu.de     Niklas      SchrÃ¶der  Rock
47           patrick.gray@aol.com    Patrick          Gray  Rock
48          phil.hughes@gmail.com       Phil        Hughes  Rock
49       ricunningham@hotmail.com    Richard    Cunningham  Rock
50        rishabh_mishra@yahoo.in    Rishabh        Mishra  Rock
51               robbrown@shaw.ca     Robert         Brown  Rock
52  roberto.almeida@riotur.gov.br    Roberto       Almeida  Rock
53         stanisÅ‚aw.wÃ³jcik@wp.pl  StanisÅ‚aw        WÃ³jcik  Rock
54          steve.murray@yahoo.uk      Steve        Murray  Rock
55      terhi.hamalainen@apple.fi      Terhi    HÃ¤mÃ¤lÃ¤inen  Rock
56               tgoyer@apple.com        Tim         Goyer  Rock
57             vstevens@yahoo.com     Victor       Stevens  Rock
58          wyatt.girard@yahoo.fr      Wyatt        Girard  Rock

**Solution 1:**

**Intuition:**

* Identified Customers Who Listen to Rock: I needed to join various tables such as customer, invoice, invoice_line, track, and genre to identify customers who had purchased tracks in the 'Rock' genre.

* Filtered for the 'Rock' Genre: After joining the tables, I filtered the data by the 'Rock' genre.

* Removed Duplicates: Using `DISTINCT` ensured that I did not get duplicate entries for customers who might have purchased multiple Rock tracks.

* Ordered by Email: The result was sorted alphabetically by the email column.

---

**Explanation:**

* WITH CTE AS: I used a common table expression (CTE) to simplify the query. This CTE joined the customer, invoice, invoice_line, track, and genre tables to obtain customer details along with their genre preferences.

* DISTINCT: I applied the `DISTINCT` clause in the final `SELECT` to eliminate any duplicate rows that might occur if a customer purchased multiple tracks in the same genre.

* Filtered by 'Rock': The `WHERE genre = 'Rock'` condition ensured that I only returned customers who had listened to Rock music.

* ORDER BY Email: Finally, I ordered the results alphabetically by the email field to match the requirement of sorting the list by email starting from 'A'.

**Solution 2-To optimise:**

In [18]:
result = duckdb_conn.execute("""
    WITH CTE AS (
        SELECT DISTINCT c.email, c.first_name, c.last_name, g.name AS genre
        FROM customer AS c 
        JOIN invoice AS i ON c.customer_id = i.customer_id 
        JOIN invoice_line AS il ON i.invoice_id = il.invoice_id 
        JOIN track AS t ON t.track_id = il.track_id 
        JOIN genre AS g ON t.genre_id = g.genre_id
    )
    SELECT 
        email AS Email,
        first_name AS First_name,
        last_name AS Last_name,
        genre
    FROM 
        CTE 
    WHERE 
        genre = 'Rock'
    ORDER BY 
        Email;
""").df()

print(result)

                            Email First_name     Last_name genre
0          aaronmitchell@yahoo.ca      Aaron      Mitchell  Rock
1                alero@uol.com.br  Alexandre         Rocha  Rock
2          astrid.gruber@apple.at     Astrid        Gruber  Rock
3           bjorn.hansen@yahoo.no      BjÃ¸rn        Hansen  Rock
4        camille.bernard@yahoo.fr    Camille       Bernard  Rock
5           daan_peeters@apple.be       Daan       Peeters  Rock
6        diego.gutierrez@yahoo.ar      Diego     GutiÃ©rrez  Rock
7             dmiller@comcast.com        Dan        Miller  Rock
8     dominiquelefebvre@gmail.com  Dominique      Lefebvre  Rock
9             edfrancis@yachoo.ca     Edward       Francis  Rock
10       eduardo@woodstock.com.br    Eduardo       Martins  Rock
11         ellie.sullivan@shaw.ca      Ellie      Sullivan  Rock
12         emma_jones@hotmail.com       Emma         Jones  Rock
13         enrique_munoz@yahoo.es    Enrique         MuÃ±oz  Rock
14       fernadaramos4@uol.com.br   Fernanda         Ramos  Rock
15             fharris@google.com      Frank        Harris  Rock
16             fralston@gmail.com      Frank       Ralston  Rock
17       frantisekw@jetbrains.com  FrantiÅ¡ek   WichterlovÃ¡  Rock
18            ftremblay@gmail.com   FranÃ§ois      Tremblay  Rock
19           fzimmermann@yahoo.de       Fynn    Zimmermann  Rock
20      hannah.schneider@yahoo.de     Hannah     Schneider  Rock
21                hholy@gmail.com     Helena          HolÃ½  Rock
22             hleacock@gmail.com    Heather       Leacock  Rock
23           hughoreilly@apple.ie       Hugh      O'Reilly  Rock
24      isabelle_mercier@apple.fr   Isabelle       Mercier  Rock
25        jacksmith@microsoft.com       Jack         Smith  Rock
26            jenniferp@rogers.ca   Jennifer      Peterson  Rock
27            jfernandes@yahoo.pt       JoÃ£o     Fernandes  Rock
28      joakim.johansson@yahoo.se     Joakim     Johansson  Rock
29        johavanderberg@yahoo.nl   Johannes  Van der Berg  Rock
30         johngordon22@yahoo.com       John        Gordon  Rock
31            jubarnett@gmail.com      Julia       Barnett  Rock
32            kachase@hotmail.com      Kathy         Chase  Rock
33          kara.nielsen@jubii.dk       Kara       Nielsen  Rock
34       ladislav_kovacs@apple.hu   Ladislav        KovÃ¡cs  Rock
35          leonekohler@surfeu.de     Leonie        KÃ¶hler  Rock
36         lucas.mancini@yahoo.it      Lucas       Mancini  Rock
37           luisg@embraer.com.br       LuÃ­s     GonÃ§alves  Rock
38             luisrojas@yahoo.cl       Luis         Rojas  Rock
39        manoj.pareek@rediff.com      Manoj        Pareek  Rock
40        marc.dubois@hotmail.com       Marc        Dubois  Rock
41           mark.taylor@yahoo.au       Mark        Taylor  Rock
42           marthasilk@gmail.com     Martha          Silk  Rock
43              masampaio@sapo.pt   Madalena       Sampaio  Rock
44              michelleb@aol.com   Michelle        Brooks  Rock
45             mphilips12@shaw.ca       Mark       Philips  Rock
46            nschroder@surfeu.de     Niklas      SchrÃ¶der  Rock
47           patrick.gray@aol.com    Patrick          Gray  Rock
48          phil.hughes@gmail.com       Phil        Hughes  Rock
49       ricunningham@hotmail.com    Richard    Cunningham  Rock
50        rishabh_mishra@yahoo.in    Rishabh        Mishra  Rock
51               robbrown@shaw.ca     Robert         Brown  Rock
52  roberto.almeida@riotur.gov.br    Roberto       Almeida  Rock
53         stanisÅ‚aw.wÃ³jcik@wp.pl  StanisÅ‚aw        WÃ³jcik  Rock
54          steve.murray@yahoo.uk      Steve        Murray  Rock
55      terhi.hamalainen@apple.fi      Terhi    HÃ¤mÃ¤lÃ¤inen  Rock
56               tgoyer@apple.com        Tim         Goyer  Rock
57             vstevens@yahoo.com     Victor       Stevens  Rock
58          wyatt.girard@yahoo.fr      Wyatt        Girard  Rock

**Solution 2:**

**Intuition:**

* Pre-filtered Duplicates in CTE: In this optimized version, I applied the `DISTINCT` keyword inside the CTE itself, reducing the result set early on and minimizing unnecessary processing in the final query.

* Same Logic for Filtering and Ordering: The logic for filtering by the 'Rock' genre and ordering by email remained the same.

---

**Explanation:**

* DISTINCT in the CTE: This query applied `DISTINCT` in the CTE, meaning duplicates were removed early on, which improved performance in large datasets.

* Final Query: The final `SELECT` and filtering logic remained the same, with the goal of returning the required customer details and genre, ordered by email.

2. Let's invite the artists who have written the most rock music in our dataset. Write a query that returns the Artist name and total track count of the top 10 rock bands.

In [19]:
result = duckdb_conn.execute("""
    SELECT 
        ar.name AS artist_name, 
        COUNT(t.track_id) AS rock_track_cnt 
    FROM 
        track AS t 
    JOIN 
        album AS a ON t.album_id = a.album_id 
    JOIN 
        artist AS ar ON a.artist_id = ar.artist_id 
    GROUP BY 
        ar.name,t.genre_id 
    HAVING 
        t.genre_id = '1' 
    ORDER BY 
        rock_track_cnt DESC 
    LIMIT 10;
""").df()

print(result)

                    artist_name  rock_track_cnt
0                  Led Zeppelin             114
1                            U2             112
2                   Deep Purple              92
3                   Iron Maiden              81
4                     Pearl Jam              54
5                     Van Halen              52
6                         Queen              45
7            The Rolling Stones              41
8  Creedence Clearwater Revival              40
9                          Kiss              35

**Intuition:**

* Identified Rock Tracks: I filtered for tracks that belonged to the 'Rock' genre. I used the `genre_id = 1` assumption based on the provided schema, where each genre had a unique ID.

* Grouped by Artist: I counted the total number of Rock tracks for each artist by grouping the results by the artist's name and filtering specifically for the 'Rock' genre.

* Ordered by Track Count: To identify the top 10 artists who composed the most Rock music, I ordered the results by the total number of Rock tracks in descending order.

---

**Explanation:**

* Table Joins: I joined the track table with the album table using the `album_id`, and then the album table with the artist table using `artist_id`. This allowed me to link each track with the corresponding artist.

* Grouping and Filtering: After joining, I grouped the tracks by artist name and `genre_id`, which allowed me to aggregate the track count for each artist specifically within the 'Rock' genre.

* Filtering by Genre: The `HAVING t.genre_id = '1'` condition ensured I counted only tracks that belonged to the Rock genre.

* Ordering and Limiting: I sorted the artists by their Rock track count in descending order and limited the result to the top 10 artists.

3. Return all the track names that have a song length longer than the average song length. Return the Name and Milliseconds for each track. Order by the song length with the longest songs listed first.

**Solution 1:**

In [20]:
result = duckdb_conn.execute("""
    SELECT 
        "name", 
        Milliseconds AS Minutes 
    FROM 
        track 
    WHERE 
        Milliseconds > (SELECT AVG(Milliseconds) FROM track) 
    ORDER BY 
        Milliseconds DESC;
""").df()

print(result)

                                                  name  Minutes
0                               Occupation / Precipice  5286953
1                              Through a Looking Glass  5088838
2                          Greetings from Earth, Pt. 1  2960293
3                              The Man With Nine Lives  2956998
4                          Battlestar Galactica, Pt. 2  2956081
..                                                 ...      ...
489                                   22 Acacia Avenue   395572
490                                  The Unforgiven II   395520
491                                 The Shortest Straw   395389
492  Concerto for Clarinet in A Major, K. 622: II. ...   394482
493                                        Wicked Ways   393691

[494 rows x 2 columns]

**Intuition:**

* Average Song Length: I calculated the average song length in milliseconds using a subquery `(SELECT AVG(Milliseconds) FROM Track)`.

* Filter for Longer Songs: I filtered tracks whose length in milliseconds exceeded the average.

* Order by Length: I ordered the results in descending order based on the length in milliseconds to show the longest tracks first.

---

**Explanation:**

* Subquery for Average Length: The subquery `(SELECT AVG(Milliseconds) FROM Track)` calculated the average duration of all tracks in the Track table. This result was used in the WHERE clause to filter for songs that were longer than the average.

* Filtering: The main query selected the tracks whose Milliseconds value exceeded the calculated average.

* Ordering: The results were ordered by `Milliseconds DESC` to list the longest tracks.

**Solution 2:**

In [21]:
result = duckdb_conn.execute("""
    SELECT 
        "name", 
        Milliseconds / 60000 AS Minutes 
    FROM 
        track 
    WHERE 
        Milliseconds > (SELECT AVG(Milliseconds) FROM track) 
    ORDER BY 
        Milliseconds DESC;
""").df()

print(result)

                                                  name    Minutes
0                               Occupation / Precipice  88.115883
1                              Through a Looking Glass  84.813967
2                          Greetings from Earth, Pt. 1  49.338217
3                              The Man With Nine Lives  49.283300
4                          Battlestar Galactica, Pt. 2  49.268017
..                                                 ...        ...
489                                   22 Acacia Avenue   6.592867
490                                  The Unforgiven II   6.592000
491                                 The Shortest Straw   6.589817
492  Concerto for Clarinet in A Major, K. 622: II. ...   6.574700
493                                        Wicked Ways   6.561517

[494 rows x 2 columns]

**Intuition:**

* Convert Milliseconds to Minutes: In this version of the query, I converted the Milliseconds field to minutes by dividing it by 60,000 (since there are 60,000 milliseconds in a minute).

* Filter and Order: The filtering and ordering logic remained the same, based on the comparison to the average song length.

---

**Explanation:**

* Division for Minutes: The key difference in this query was the calculation `Milliseconds / 60000 AS Minutes`, which converted the track length from milliseconds to minutes for easier interpretation.

* Rest of the Logic: Like the first query, I filtered tracks that were longer than the average duration and ordered them by length.

Question Set 3

1. Find how much amount spent by each customer on artists? Write a query to return customer name, artist name and total spent.

In [22]:
result = duckdb_conn.execute("""
    SELECT 
        c.first_name,
        c.last_name, 
        ar.name AS artist_name,
        ROUND(SUM(i.total), 2) AS total_spent
    FROM 
        customer AS c
    JOIN 
        invoice AS i ON c.customer_id = i.customer_id
    JOIN 
        invoice_line AS il ON i.invoice_id = il.invoice_id
    JOIN 
        track AS t ON il.track_id = t.track_id
    JOIN 
        album AS a ON t.album_id = a.album_id
    JOIN 
        artist AS ar ON a.artist_id = ar.artist_id
    GROUP BY 
        c.first_name, 
        c.last_name, 
        ar.name;
""").df()

print(result)

     first_name   last_name         artist_name  total_spent
0        Edward     Francis  The Rolling Stones        25.74
1        Edward     Francis        Led Zeppelin        22.77
2        Edward     Francis          The Police         9.90
3        Martha        Silk       Frank Sinatra        18.81
4     StanisÅ‚aw      WÃ³jcik       Gustav Mahler        10.89
...         ...         ...                 ...          ...
2184     Leonie      KÃ¶hler                UB40         7.92
2185    Roberto     Almeida        Apocalyptica        10.89
2186       John      Gordon         Soundgarden         7.92
2187   Fernanda       Ramos      Zeca Pagodinho         6.93
2188    Richard  Cunningham       Frank Sinatra         4.95

[2189 rows x 4 columns]

**Intuition:**

* Customer and Artist Relationship: I recognized that the relationship between customers and artists was indirect, going through multiple tables. The customer purchases invoices, which are linked to invoice_lines, and the tracks in these invoice lines are linked to specific albums that belong to artists.

* Aggregate Spending: For each customer and artist combination, I needed to sum the total amount the customer spent across all purchases related to that artistâ€™s tracks.

* Rounding the Total: The total spent was rounded to two decimal places for clarity.

---

**Explanation:**

* Table Joins: I started with the customer table (c) and joined it to the invoice table (i) using the customer_id. The invoice table was then joined to invoice_line (il), linking invoices to specific tracks. From the track table (t), I obtained the album_id, which linked to the album table (a), and finally to the artist table (ar) using the artist_id.

* Group By: The query grouped by the customer's first and last name (c.first_name, c.last_name) and the artistâ€™s name (ar.name). This ensured that I calculated the total amount spent by each customer on each artist.

* Total Calculation: I used `SUM(i.total)` to compute the total amount each customer had spent on the tracks by each artist. The result was rounded to two decimal places using `ROUND(SUM(i.total)::numeric, 2)`.

2. We want to find out the most popular music Genre for each country. We determine the most popular genre as the genre with the highest amount of purchases. Write a query that returns each country along with the top Genre. For countries where the maximum number of purchases is shared return all Genres.

In [23]:
result = duckdb_conn.execute("""
    WITH CTE AS (
        SELECT 
            c.country AS country, 
            g.name AS genre,
            COUNT(*) AS quantity 
        FROM 
            customer AS c 
        JOIN 
            invoice AS i ON c.customer_id = i.customer_id 
        JOIN 
            invoice_line AS il ON i.invoice_id = il.invoice_id 
        JOIN 
            track AS t ON il.track_id = t.track_id 
        JOIN 
            genre AS g ON t.genre_id = g.genre_id
        GROUP BY 
            c.country, g.name
    ),
    MaxQuantityPerCountry AS (
        SELECT 
            country, 
            MAX(quantity) AS max_quantity
        FROM 
            CTE
        GROUP BY 
            country
    )
    SELECT 
        CTE.country, 
        CTE.genre, 
        CTE.quantity
    FROM 
        CTE
    JOIN 
        MaxQuantityPerCountry AS M
        ON CTE.country = M.country AND CTE.quantity = M.max_quantity
    ORDER BY 
        CTE.country;
""").df()

print(result)

           country               genre  quantity
0        Argentina  Alternative & Punk        17
1        Australia                Rock        34
2          Austria                Rock        40
3          Belgium                Rock        26
4           Brazil                Rock       205
5           Canada                Rock       333
6            Chile                Rock        61
7   Czech Republic                Rock       143
8          Denmark                Rock        24
9          Finland                Rock        46
10          France                Rock       211
11         Germany                Rock       194
12         Hungary                Rock        44
13           India                Rock       102
14         Ireland                Rock        72
15           Italy                Rock        35
16     Netherlands                Rock        33
17          Norway                Rock        40
18          Poland                Rock        40
19        Portugal                Rock       108
20           Spain                Rock        46
21          Sweden                Rock        60
22             USA                Rock       561
23  United Kingdom                Rock       166

**Intuition:**

* Create CTE for Purchases: I started with a CTE to gather the count of purchases for each genre in each country.

* Calculate Maximum Quantities: The second CTE, `MaxQuantityPerCountry`, captured the maximum quantity of purchases for each country, isolating the most popular genre(s).

* Efficient Joining: I then joined the original CTE with this maximum quantity CTE, filtering down to those genres that had the maximum purchase count for their respective countries. This allowed me to retrieve all genres that were tied for popularity in a single pass.

* Ordered Results: Finally, I returned the results, ordered by country.

---

**Explanation:**

* CTE Creation: The first CTE counted purchases for each genre and country.

* Max Quantity CTE: The second CTE (`MaxQuantityPerCountry`) simplified the process of finding the maximum purchase quantity per country, helping to reduce the complexity of the final query.

* Join for Final Results: By joining the original CTE with the maximum quantity results, I could easily retrieve all genres tied for the maximum purchase count in each country. This was often more efficient than using a WHERE clause for filtering.

* Ordering: The results were ordered by country.

3. Write a query that determines the customer that has spent the most on music for each country. Write a query that returns the country along with the top customer and how much they spent. For countries where the top amount spent is shared, provide all customers who spent this amount.

In [24]:
result = duckdb_conn.execute("""
    WITH CTE AS (
        SELECT 
            c.country AS country, 
            c.first_name AS first_name, 
            c.last_name AS last_name, 
            ROUND(SUM(i.total)::numeric, 2) AS total
        FROM 
            customer AS c 
        JOIN 
            invoice AS i ON c.customer_id = i.customer_id 
        GROUP BY 
            c.country, c.first_name, c.last_name
    ),
    MaxSpendingPerCountry AS (
        SELECT 
            country, 
            MAX(total) AS max_total
        FROM 
            CTE
        GROUP BY 
            country
    )
    SELECT 
        CTE.country, 
        CTE.first_name, 
        CTE.last_name, 
        CTE.total
    FROM 
        CTE
    JOIN 
        MaxSpendingPerCountry AS M
        ON CTE.country = M.country AND CTE.total = M.max_total
    ORDER BY 
        CTE.country;
""").df()

print(result)

           country first_name     last_name   total
0        Argentina      Diego     GutiÃ©rrez   39.60
1        Australia       Mark        Taylor   81.18
2          Austria     Astrid        Gruber   69.30
3          Belgium       Daan       Peeters   60.39
4           Brazil       LuÃ­s     GonÃ§alves  108.90
5           Canada   FranÃ§ois      Tremblay   99.99
6            Chile       Luis         Rojas   97.02
7   Czech Republic  FrantiÅ¡ek   WichterlovÃ¡  144.54
8          Denmark       Kara       Nielsen   37.62
9          Finland      Terhi    HÃ¤mÃ¤lÃ¤inen   79.20
10          France      Wyatt        Girard   99.99
11         Germany       Fynn    Zimmermann   94.05
12         Hungary   Ladislav        KovÃ¡cs   78.21
13           India      Manoj        Pareek  111.87
14         Ireland       Hugh      O'Reilly  114.84
15           Italy      Lucas       Mancini   50.49
16     Netherlands   Johannes  Van der Berg   65.34
17          Norway      BjÃ¸rn        Hansen   72.27
18          Poland  StanisÅ‚aw        WÃ³jcik   76.23
19        Portugal       JoÃ£o     Fernandes  102.96
20           Spain    Enrique         MuÃ±oz   98.01
21          Sweden     Joakim     Johansson   75.24
22             USA       Jack         Smith   98.01
23  United Kingdom       Phil        Hughes   98.01

**Intuition:**

* Aggregate and Max Calculation: The first CTE aggregated total spending per customer and country, while the second CTE calculated the maximum spending per country.

* Join for Results: The final query joined the CTE with the maximum spending CTE to filter down to customers who had the maximum spending in their respective countries.

* Efficiency: This method proved to be more efficient for larger datasets, as it clearly separated the aggregation and maximum calculations, leading to fewer rows in the final join.

---

**Explanation:**

* CTE Usage: The first CTE functioned similarly to the first solution, summing the total amounts spent by customers. The second CTE then retrieved the maximum spending for each country.

* Joining for Top Customers: By joining the CTE with the maximum spending results, I efficiently identified all customers with the highest spending amounts without needing a complex filtering method.

* Ordering: The results were ordered by country, ensuring that the output was structured for easy analysis.

**Verifying Customers with Multiple Purchases**

In [25]:
result = duckdb_conn.execute("""
    WITH CTEE AS (
        SELECT 
            c.country AS country, 
            c.first_name AS first_name, 
            c.last_name AS last_name, 
            COUNT(i.customer_id) AS cnt,
            ROUND(SUM(i.total)::numeric, 2) AS tot
        FROM 
            customer AS c 
        JOIN 
            invoice AS i ON c.customer_id = i.customer_id 
        GROUP BY 
            c.country, c.first_name, c.last_name
    )
    SELECT 
        country, 
        first_name, 
        last_name, 
        cnt,
        tot
    FROM 
        CTEE 
    WHERE 
        cnt > 1
    ORDER BY 
        country;
""").df()

print(result)

           country first_name     last_name  cnt     tot
0        Argentina      Diego     GutiÃ©rrez    5   39.60
1        Australia       Mark        Taylor   10   81.18
2          Austria     Astrid        Gruber    9   69.30
3          Belgium       Daan       Peeters    7   60.39
4           Brazil   Fernanda         Ramos   15  106.92
5           Brazil       LuÃ­s     GonÃ§alves   13  108.90
6           Brazil    Roberto       Almeida   11   82.17
7           Brazil    Eduardo       Martins   12   60.39
8           Brazil  Alexandre         Rocha   10   69.30
9           Canada     Martha          Silk   11   62.37
10          Canada       Mark       Philips   10   29.70
11          Canada   FranÃ§ois      Tremblay    9   99.99
12          Canada      Aaron      Mitchell    8   70.29
13          Canada   Jennifer      Peterson    9   66.33
14          Canada     Edward       Francis   13   91.08
15          Canada      Ellie      Sullivan   12   75.24
16          Canada     Robert         Brown    4   40.59
17           Chile       Luis         Rojas   13   97.02
18  Czech Republic     Helena          HolÃ½   12  128.70
19  Czech Republic  FrantiÅ¡ek   WichterlovÃ¡   18  144.54
20         Denmark       Kara       Nielsen   10   37.62
21         Finland      Terhi    HÃ¤mÃ¤lÃ¤inen   11   79.20
22          France       Marc        Dubois    9   64.35
23          France  Dominique      Lefebvre    9   72.27
24          France   Isabelle       Mercier   12   73.26
25          France      Wyatt        Girard   11   99.99
26          France    Camille       Bernard    9   79.20
27         Germany       Fynn    Zimmermann   10   94.05
28         Germany     Leonie        KÃ¶hler   11   82.17
29         Germany     Niklas      SchrÃ¶der    9   73.26
30         Germany     Hannah     Schneider   11   85.14
31         Hungary   Ladislav        KovÃ¡cs   10   78.21
32           India    Rishabh        Mishra    8   71.28
33           India      Manoj        Pareek   13  111.87
34         Ireland       Hugh      O'Reilly   13  114.84
35           Italy      Lucas       Mancini    9   50.49
36     Netherlands   Johannes  Van der Berg   10   65.34
37          Norway      BjÃ¸rn        Hansen    9   72.27
38          Poland  StanisÅ‚aw        WÃ³jcik   10   76.23
39        Portugal       JoÃ£o     Fernandes   13  102.96
40        Portugal   Madalena       Sampaio   16   82.17
41           Spain    Enrique         MuÃ±oz   11   98.01
42          Sweden     Joakim     Johansson   10   75.24
43             USA    Patrick          Gray    9   84.15
44             USA   Michelle        Brooks    8   79.20
45             USA        Tim         Goyer    9   54.45
46             USA       Jack         Smith   12   98.01
47             USA      Frank       Ralston    8   71.28
48             USA      Kathy         Chase   11   91.08
49             USA      Julia       Barnett   10   72.27
50             USA     Victor       Stevens   10   76.23
51             USA        Dan        Miller   12   95.04
52             USA    Richard    Cunningham   12   86.13
53             USA    Heather       Leacock   12   92.07
54             USA       John        Gordon   10   66.33
55             USA      Frank        Harris    8   74.25
56  United Kingdom       Phil        Hughes   11   98.01
57  United Kingdom       Emma         Jones    8   68.31
58  United Kingdom      Steve        Murray    9   79.20

**Explanation:**

* Count Purchases: This query counted how many invoices each customer had and their total spending.

* Filtering: It filtered to include only those customers who had more than one purchase, providing additional insights into customer behavior in each country.

* Ordering: The results were sorted by country, helping to visualize customers with multiple purchases easily.

## Challenges Faced

Throughout my internship, I encountered several challenges that tested my problem-solving skills and adaptability. A notable challenge was the meticulous data formatting required for a seamless import into the PostgreSQL database. While the PostgreSQL copy command offered a straightforward option, my preference for using import and export methods necessitated adjustments, particularly concerning the headers in the initial row of the CSV files. This situation demanded a strategic reorganization of the datasets to align with the database schema, ensuring an error-free import process. I refined my import techniques to accurately interpret and integrate the datasets, highlighting the importance of aligning personal preferences with optimal database practices.

## Skills Developed

During my internship, I cultivated a diverse skill set crucial for proficient database management and optimization. Key skills acquired include:

* In-Depth Knowledge of Database Management: I gained a comprehensive understanding of common challenges faced in database management, enabling me to analyze and resolve issues related to data integrity, query performance, and schema design across MySQL, PostgreSQL, and SQL environments.

* Hands-On Problem-Solving in MySQL, PostgreSQL, and SQL: I actively applied problem-solving skills to tackle challenges specific to MySQL, PostgreSQL, and SQL. This involved troubleshooting and resolving data formatting issues, optimizing queries, and managing data import/export procedures.

* Analysis of Data Quality: I developed skills to assess and ensure data integrity, identify common data issues, and propose effective measures to maintain a consistent data environment.

* Emphasis on Comprehensive Documentation: I acknowledged the significance of thorough documentation and best practices, enhancing my awareness of the importance of documenting database schemas and structures for future reference.

These skills collectively form a robust foundation for effective database management and are pivotal for addressing real-world challenges in the dynamic field of information technology.

## Summary of Internship Experience

My 15-day internship was a transformative experience, blending foundational learning with hands-on application in the database management domain. The first week immersed me in SQL, MySQL, and PostgreSQL fundamentals, preparing me for the subsequent assessment of the music store database. This evaluation included a detailed review of the database schema, careful analysis of data types and constraints, and strategic query optimization. Practical challenges, such as formatting data for import/export, provided invaluable problem-solving experiences. Collaborating directly with the Computer Science Department on-site enhanced communication, compensating for the absence of virtual tools. The internship concluded with a comprehensive report encapsulating my findings and reflections. I developed skills in database schema design, troubleshooting common issues, and effective communication. This experience not only applied theoretical knowledge but also instilled adaptability and real-world problem-solving skills, marking a significant milestone in my journey to becoming a proficient and versatile database professional.

## Achievements and Milestones

The internship yielded notable achievements and milestones that advanced my database management skills. Successfully evaluating and optimizing the music store database demonstrated my practical expertise. Overcoming challenges, such as data formatting nuances, underscored my adaptability and problem-solving capabilities. Collaborating on-site with the Computer Science Department fostered effective communication and enriched my overall learning experience. The comprehensive report I prepared serves as a tangible milestone, synthesizing theoretical knowledge into practical application. This experience stands as a testament to continuous learning and growth, highlighting achievements that contribute to a solid foundation for my future endeavors in the dynamic field of database management.

## Closing Remarks

This 15-day internship has been an invaluable journey characterized by immersive learning, practical application, and skill development. Engaging with real-world challenges in the context of a music store database provided a rich platform for honing my database management expertise. The experience underscored the importance of adaptability, problem-solving, and meticulous attention to detail in ensuring the efficiency and integrity of a database system. I am deeply grateful for the guidance, support, and collaborative spirit of the Computer Science Department team, which significantly contributed to the success of this endeavor. This internship has not only expanded my technical proficiency but has also instilled a profound appreciation for the intricacies of database management in a professional setting. As I conclude this internship, I carry forward a wealth of experiences and insights that will undoubtedly shape my future endeavors in the field of database management.